@page "/"
    <center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr style="border-color:red;">
        <hr style="border-color:red;">
        <h1>*- Bienvenido(a) al negocio ACIDENTE. -*</h1>
        <hr style="border-color:red;">
        <hr style="border-color:red;">

    </center>
